:root {
  --rumaya-framer-ai-semantic-heading-1-font-family: "Instrument Serif",
    Helvetica;
  --rumaya-framer-ai-semantic-heading-1-font-weight: 400;
  --rumaya-framer-ai-semantic-heading-1-font-size: 120px;
  --rumaya-framer-ai-semantic-heading-1-letter-spacing: -1.2000000476837158px;
  --rumaya-framer-ai-semantic-heading-1-line-height: 108px;
  --rumaya-framer-ai-semantic-heading-1-font-style: italic;
  --rumaya-framer-ai-semantic-heading-2-font-family: "Instrument Serif",
    Helvetica;
  --rumaya-framer-ai-semantic-heading-2-font-weight: 400;
  --rumaya-framer-ai-semantic-heading-2-font-size: 42px;
  --rumaya-framer-ai-semantic-heading-2-letter-spacing: -0.41999998688697815px;
  --rumaya-framer-ai-semantic-heading-2-line-height: 37.79999923706055px;
  --rumaya-framer-ai-semantic-heading-2-font-style: normal;
  --rumaya-framer-ai-semantic-heading-3-font-family: "Instrument Serif",
    Helvetica;
  --rumaya-framer-ai-semantic-heading-3-font-weight: 400;
  --rumaya-framer-ai-semantic-heading-3-font-size: 32px;
  --rumaya-framer-ai-semantic-heading-3-letter-spacing: -0.3199999928474426px;
  --rumaya-framer-ai-semantic-heading-3-line-height: 28.799999237060547px;
  --rumaya-framer-ai-semantic-heading-3-font-style: normal;
  --rumaya-framer-ai-semantic-heading-5-font-family: "Instrument Serif",
    Helvetica;
  --rumaya-framer-ai-semantic-heading-5-font-weight: 400;
  --rumaya-framer-ai-semantic-heading-5-font-size: 32px;
  --rumaya-framer-ai-semantic-heading-5-letter-spacing: -0.3199999928474426px;
  --rumaya-framer-ai-semantic-heading-5-line-height: 32px;
  --rumaya-framer-ai-semantic-heading-5-font-style: normal;
  --rumaya-framer-ai-semantic-heading-6-font-family: "Instrument Serif",
    Helvetica;
  --rumaya-framer-ai-semantic-heading-6-font-weight: 400;
  --rumaya-framer-ai-semantic-heading-6-font-size: 18px;
  --rumaya-framer-ai-semantic-heading-6-letter-spacing: -0.18000000715255737px;
  --rumaya-framer-ai-semantic-heading-6-line-height: 21.600000381469727px;
  --rumaya-framer-ai-semantic-heading-6-font-style: normal;
  --rumaya-framer-ai-semantic-link-font-family: "Inter", Helvetica;
  --rumaya-framer-ai-semantic-link-font-weight: 500;
  --rumaya-framer-ai-semantic-link-font-size: 15.100000381469727px;
  --rumaya-framer-ai-semantic-link-letter-spacing: 0px;
  --rumaya-framer-ai-semantic-link-line-height: 22.399999618530273px;
  --rumaya-framer-ai-semantic-link-font-style: normal;
  --rumaya-framer-ai-semantic-SVG-font-family: "Instrument Serif", Helvetica;
  --rumaya-framer-ai-semantic-SVG-font-weight: 400;
  --rumaya-framer-ai-semantic-SVG-font-size: 305.20001220703125px;
  --rumaya-framer-ai-semantic-SVG-letter-spacing: -9.155460357666016px;
  --rumaya-framer-ai-semantic-SVG-line-height: 244.14559936523438px;
  --rumaya-framer-ai-semantic-SVG-font-style: normal;
  --rumaya-framer-ai-instrument-serif-regular-font-family: "Instrument Serif",
    Helvetica;
  --rumaya-framer-ai-instrument-serif-regular-font-weight: 400;
  --rumaya-framer-ai-instrument-serif-regular-font-size: 18px;
  --rumaya-framer-ai-instrument-serif-regular-letter-spacing: -0.5400000214576721px;
  --rumaya-framer-ai-instrument-serif-regular-line-height: 18px;
  --rumaya-framer-ai-instrument-serif-regular-font-style: normal;
  --rumaya-framer-ai-inter-medium-font-family: "Inter", Helvetica;
  --rumaya-framer-ai-inter-medium-font-weight: 500;
  --rumaya-framer-ai-inter-medium-font-size: 13px;
  --rumaya-framer-ai-inter-medium-letter-spacing: -0.14000000059604645px;
  --rumaya-framer-ai-inter-medium-line-height: 19.600000381469727px;
  --rumaya-framer-ai-inter-medium-font-style: normal;
  --bellevoire-framer-website-semantic-heading-1-font-family: "Instrument Serif",
    Helvetica;
  --bellevoire-framer-website-semantic-heading-1-font-weight: 400;
  --bellevoire-framer-website-semantic-heading-1-font-size: 64px;
  --bellevoire-framer-website-semantic-heading-1-letter-spacing: 0px;
  --bellevoire-framer-website-semantic-heading-1-line-height: 57.599998474121094px;
  --bellevoire-framer-website-semantic-heading-1-font-style: normal;
  --bellevoire-framer-website-semantic-heading-2-font-family: "Instrument Serif",
    Helvetica;
  --bellevoire-framer-website-semantic-heading-2-font-weight: 400;
  --bellevoire-framer-website-semantic-heading-2-font-size: 80px;
  --bellevoire-framer-website-semantic-heading-2-letter-spacing: 0px;
  --bellevoire-framer-website-semantic-heading-2-line-height: 72px;
  --bellevoire-framer-website-semantic-heading-2-font-style: normal;
  --bellevoire-framer-website-semantic-heading-4-font-family: "Instrument Serif",
    Helvetica;
  --bellevoire-framer-website-semantic-heading-4-font-weight: 400;
  --bellevoire-framer-website-semantic-heading-4-font-size: 40px;
  --bellevoire-framer-website-semantic-heading-4-letter-spacing: 0px;
  --bellevoire-framer-website-semantic-heading-4-line-height: 40px;
  --bellevoire-framer-website-semantic-heading-4-font-style: normal;
  --bellevoire-framer-website-semantic-heading-5-font-family: "Instrument Serif",
    Helvetica;
  --bellevoire-framer-website-semantic-heading-5-font-weight: 400;
  --bellevoire-framer-website-semantic-heading-5-font-size: 28px;
  --bellevoire-framer-website-semantic-heading-5-letter-spacing: -0.2800000011920929px;
  --bellevoire-framer-website-semantic-heading-5-line-height: 30.799999237060547px;
  --bellevoire-framer-website-semantic-heading-5-font-style: normal;
  --bellevoire-framer-website-semantic-item-font-family: "Inter", Helvetica;
  --bellevoire-framer-website-semantic-item-font-weight: 400;
  --bellevoire-framer-website-semantic-item-font-size: 16px;
  --bellevoire-framer-website-semantic-item-letter-spacing: -0.6399999856948853px;
  --bellevoire-framer-website-semantic-item-line-height: 22.399999618530273px;
  --bellevoire-framer-website-semantic-item-font-style: normal;
  --bellevoire-framer-website-semantic-link-font-family: "Inter", Helvetica;
  --bellevoire-framer-website-semantic-link-font-weight: 600;
  --bellevoire-framer-website-semantic-link-font-size: 13.100000381469727px;
  --bellevoire-framer-website-semantic-link-letter-spacing: -0.2800000011920929px;
  --bellevoire-framer-website-semantic-link-line-height: 16.799999237060547px;
  --bellevoire-framer-website-semantic-link-font-style: normal;
  --bellevoire-framer-website-semantic-link-upper-font-family: "Inter",
    Helvetica;
  --bellevoire-framer-website-semantic-link-upper-font-weight: 600;
  --bellevoire-framer-website-semantic-link-upper-font-size: 16px;
  --bellevoire-framer-website-semantic-link-upper-letter-spacing: -0.1599999964237213px;
  --bellevoire-framer-website-semantic-link-upper-line-height: 16px;
  --bellevoire-framer-website-semantic-link-upper-font-style: normal;
  --bellevoire-framer-website-instrument-serif-italic-font-family: "Instrument Serif",
    Helvetica;
  --bellevoire-framer-website-instrument-serif-italic-font-weight: 400;
  --bellevoire-framer-website-instrument-serif-italic-font-size: 64px;
  --bellevoire-framer-website-instrument-serif-italic-letter-spacing: 0px;
  --bellevoire-framer-website-instrument-serif-italic-line-height: 57.599998474121094px;
  --bellevoire-framer-website-instrument-serif-italic-font-style: italic;
  --bellevoire-framer-website-inter-regular-font-family: "Inter", Helvetica;
  --bellevoire-framer-website-inter-regular-font-weight: 400;
  --bellevoire-framer-website-inter-regular-font-size: 16px;
  --bellevoire-framer-website-inter-regular-letter-spacing: -0.47999998927116394px;
  --bellevoire-framer-website-inter-regular-line-height: 19.200000762939453px;
  --bellevoire-framer-website-inter-regular-font-style: normal;
  --seovillage-com-semantic-link-font-family: "Inter", Helvetica;
  --seovillage-com-semantic-link-font-weight: 400;
  --seovillage-com-semantic-link-font-size: 14px;
  --seovillage-com-semantic-link-letter-spacing: 0px;
  --seovillage-com-semantic-link-line-height: 20px;
  --seovillage-com-semantic-link-font-style: normal;
  --seovillage-com-inter-regular-font-family: "Inter", Helvetica;
  --seovillage-com-inter-regular-font-weight: 400;
  --seovillage-com-inter-regular-font-size: 15px;
  --seovillage-com-inter-regular-letter-spacing: 0px;
  --seovillage-com-inter-regular-line-height: 20px;
  --seovillage-com-inter-regular-font-style: normal;
  --seovillage-com-inter-semi-bold-font-family: "Inter", Helvetica;
  --seovillage-com-inter-semi-bold-font-weight: 600;
  --seovillage-com-inter-semi-bold-font-size: 18px;
  --seovillage-com-inter-semi-bold-letter-spacing: -0.5px;
  --seovillage-com-inter-semi-bold-line-height: 26px;
  --seovillage-com-inter-semi-bold-font-style: normal;
}
